Repository rubykube/peatio-contrib, pull requests merged in 2020-03, with the labels that each got.

#9 Fix: Fetch amount from entry
  peatio-bitgo/Gemfile.lock
  peatio-bitgo/lib/peatio/bitgo/version.rb
  peatio-bitgo/lib/peatio/bitgo/wallet.rb
  peatio-bitgo/spec/peatio/wallet_spec.rb
Labels: bitgo

#17 FIX: Register class not instance
  peatio-bitcoincash/lib/peatio/bitcoincash/hooks.rb
  peatio-bitcoincash/lib/peatio/bitcoincash/version.rb
  peatio-bitgo/lib/peatio/bitgo/hooks.rb
  peatio-bitgo/lib/peatio/bitgo/version.rb
  peatio-dash/lib/peatio/dash/hooks.rb
  peatio-dash/lib/peatio/dash/version.rb
  peatio-litecoin/lib/peatio/litecoin/hooks.rb
  peatio-litecoin/lib/peatio/litecoin/version.rb
  peatio-ripple/lib/peatio/ripple/hooks.rb
  peatio-ripple/lib/peatio/ripple/version.rb
Labels: Ready

#18 Fix: Change currency_id for erc20 tokens
  peatio-bitgo/lib/peatio/bitgo/version.rb
  peatio-bitgo/lib/peatio/bitgo/wallet.rb
  peatio-bitgo/spec/peatio/wallet_spec.rb
Labels: Ready, bitgo

#20 Update gems dependencies in /peatio-contrib
  peatio-bitcoincash/Gemfile.lock
  peatio-bitcoincash/lib/peatio/bitcoincash/version.rb
  peatio-bitcoincash/peatio-bitcoincash.gemspec
  peatio-bitgo/Gemfile.lock
  peatio-bitgo/peatio-bitgo.gemspec
  peatio-dash/Gemfile.lock
  peatio-dash/lib/peatio/dash/version.rb
  peatio-dash/peatio-dash.gemspec
  peatio-litecoin/Gemfile.lock
  peatio-litecoin/lib/peatio/litecoin/version.rb
  peatio-litecoin/peatio-litecoin.gemspec
  peatio-ripple/Gemfile.lock
  peatio-ripple/lib/peatio/ripple/version.rb
  peatio-ripple/peatio-ripple.gemspec
Labels: dependencies

#16 Enhancement: Sanitize bitgo settings
  peatio-bitgo/configs/wallets.yml
  peatio-bitgo/docs/images/.DS_Store
  peatio-bitgo/lib/peatio/bitgo/wallet.rb
  peatio-bitgo/spec/peatio/wallet_spec.rb
Labels: Ready, bitgo

#10 Feature: Add documentation
  peatio-bitgo/docs/configuration.md
  peatio-bitgo/docs/images/access_token.png
  peatio-bitgo/docs/images/choose_wallet.png
  peatio-bitgo/docs/images/create_wallet.png
  peatio-bitgo/docs/images/create_wallet_access_token.png
  peatio-bitgo/docs/images/setup_wallet.png
  peatio-bitgo/docs/images/wallet_access_token.png
  peatio-bitgo/docs/images/wallet_id.png
  peatio-bitgo/docs/images/wallet_name.png
  peatio-bitgo/docs/images/wallet_secret.png
  peatio-bitgo/docs/images/webhook.png
  peatio-bitgo/docs/images/webhook_creating.png
Labels: Ready, bitgo
